#text_resume{
	background-color: #329ba8;
	text-align:center;
	padding: 80px;
	margin: 0;
}

nav {
	background-color: #333;
	overflow: hidden;
}

nav a {
		color: #ffffff;
		padding: 14px 20px;
		text-decoration: none;
		display: block;
		text-align: center;
	}

nav a:hover {
	background-color: white;
	color: black;
}

a.menu_left {
	float: left;
}

a.menu_right {
	float: right;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

th, .math {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#flex_container {
	display: flex;
}

#left_side {
	flex: 30%;
	padding: 10px 20px;
	background-color: #f1f1f1;
}

#right_side {
	flex: 70%;
}

footer {
	background-color: #333;
	padding: 5px 10px;
	color: white;
	text-align: right;
}
footer a {
		color: white;
	}

.course_item{
	text-align: center;
	flex: 33%;
}
.course_img{
	width: 90%;
}
.course_title{
	font-weight: bold;
	font-size: 150%;
	padding: 5px 0px;
}
.course_description{
	margin: 0px 5px 10px 5px;
}
#course_container{
	display: flex;
	flex-wrap: wrap;
}

@media(max-width: 800px){
	#flex_container {
		display: flex;
		flex-wrap: wrap;
	}
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	.course_item{
		flex: 50%;
	}
}
